.title{
	padding-left: 20px;
}

.education{
	position: relative;
	padding: 55px 10px;
}

.university{
	position: absolute;
	text-align: center;
	padding-left: 60px;
	height: 100%;
	background-color: #3d5afe;
	top: 0;
	right: 0;
	border-radius: 100px;
	width: calc(100% - 570px);
	color: #ffffff;
}

.period{
	line-height: 30px;
}

.university-name{
	font-size: 60px;
	font-weight: bolder;
	line-height: 53px;
}

.university-name-sub{
	font-size: large;
	font-weight: bold;
}

.major{
	line-height: 45px;
}

.vertical-center {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.middle{
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}