.title{
	padding-left: 20px;
}

.education{
	position: relative;
	padding: 30px 10px;
}

.university{
	position: absolute;
	text-align: left;
	padding-left: 60px;
	height: 100%;
	background-color: #3d5afe;
	top: 0;
	right: 0;
	border-radius: 100px;
	width: 453px;
	color: #ffffff;
}

.period{
	line-height: 45px;
}

.university-name{
	font-size: 60px;
	font-weight: bolder;
	line-height: 53px;
}

.university-name-sub{
	font-size: large;
	font-weight: bold;
}

.major{
	line-height: 45px;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}