.experiences{
	margin-top: 100px;
	position: relative;
}

.background{
	height: 650px;
	position: absolute;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
}