.experiences{
	margin-top: 100px;
	position: relative;
}

.background{
	position: absolute;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}