.experiences{
	margin-top: 100px;
	position: relative;
}

.background{
	position: absolute;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

@media only screen and (max-width: 1280px){
	.experiences{
		margin-top: 40px;
		scroll-margin: 70px;
	}
}