.about-card{
	position: relative;
}

.about-card .header{
	height: 68px;
	border-radius: inherit;
	position: relative;
	padding: 0 20px;
}

.about-card .body{
	min-height: 100px;
	padding-bottom: 20px;
}

.about-card.info{
	width: 350px;
	top: 160px;
}

.about-card.contact{
	width: 350px;
	top: 145px;
	margin-left: 120px;
}

.about-card.about-me{
	width: 550px;
	top: -200px;
	float: right;
}

.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } /* IE < 8 */

.three-dot-left{
	float: left;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.title-right{
	float: right;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 42px;
}