@media only screen and (min-width: 1281px) {
	.ReactModal__Overlay {
		opacity: 0;
	}

	.ReactModal__Content{
		transform: translate(-50%, -130%);
		transition: all 350ms ease-in-out;
	}

	.ReactModal__Overlay--after-open{
		opacity: 1;
	}

	.ReactModal__Content--after-open{
		transform: translate(-50%, -50%);
	}

	.ReactModal__Overlay--before-close{
		opacity: 0;
	}

	.ReactModal__Content--before-close{
		transform: translate(-50%, -130%);
	}
}
