.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.75);
}

.modal {
	width: 50%;
	height: 70%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem;
	border-radius: 14px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	z-index: 30;
	animation: slide-down 300ms ease-out forwards;
}

.modal .header{
	height: 60px;
	width: 100%;
	text-align: center;
}

.modal .header .project-title{
	position: inherit;
	float: initial;
}

.modal .body .text{
	padding: 20px;
}

.modal-image {
	width: auto;
	height: 300px;
	object-fit: cover;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: auto;
	display: block;
}

button.close {
	width: 30px;
	font-size: 20px;
	color: #c0c5cb;
	align-self: flex-end;
	background-color: transparent;
	border: none;
	margin-bottom: 10px;
	cursor: pointer;
	position: absolute;
	top: 16px;
	right: 16px;
}

footer{
	position: absolute;
	width: 100%;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
}

.step-dots {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.step-dot {
	cursor: pointer;
	width: 1em;
	height: 1em;
	margin: .5ch;
	border-radius: 1em;
	background: currentColor;
	opacity: .2;
	transition: transform 100ms ease-out, opacity 150ms linear;
	&.active {
		opacity: .7;
		box-shadow: 0 0 1em -.25em;
	}
	&:hover {
		transform: scale(1.2)
	}
}

.actions{
	position: absolute;
	width: 100%;
}

.actions button{
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.back-action{
	margin-left: 50px;
	float: left;
}

.forward-action{
	float: right;
	margin-right: 50px;
}